body {
    background: url(../images/textured-bg.png) ;
} 
.container {
width: 1200px;
text-align: center;
margin-left: auto;
margin-right: auto;
}
img{ 
    height: inherit; width: inherit;
}
.news{
    display: inline-block;
    width: 280px;
    margin: 5px;
    vertical-align: top;
    box-shadow: 0 1px 5px 0 #808080;
}
.inner{
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}